--extra-index-url https://download.pytorch.org/whl/cu118

numpy==1.26.4
gradio==4.38.1
opencv-python==4.9.0.80
onnx==1.16.0
insightface==0.7.3
psutil==5.9.6
torch==2.1.2+cu118; sys_platform != 'darwin'
torch==2.1.2; sys_platform == 'darwin'
torchvision==0.16.2+cu118; sys_platform != 'darwin'
torchvision==0.16.2; sys_platform == 'darwin'
tqdm==4.66.4
nvidia-cublas-cu11==11.11.3.6
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cudnn-cu11==8.7.0.84
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.3.0.86
ftfy
regex
pyvirtualcam
